.repositories {
    margin: 20px auto 0 auto;
    max-width: 850px;
    border: 1px solid rgba(0, 0, 0, 0.125);

    h1 {
        position: relative;
        margin-bottom: 20px;
        padding: 20px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);

        span {
            color: orange;
            text-decoration: underline;
        }

        .back {
            position: absolute;
            top: 50%;
            left: 8px;
            transform: translate(0, -50%);
            cursor: pointer;
        }
    }

    &-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: column;


    }
}