.user-card {
    border-radius: 7px;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 200px;
    word-wrap: break-word;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    align-items: center;
    cursor: pointer;

    &+.user-card {
        margin-left: 10px;
    }

    &:hover {
        box-shadow: 0 0 2.25rem #e1e1e1;
        background-color: #f5f6f7;
    }

    .avatar {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-bottom: 20px;
    }

    .name {
        font-weight: 700;
        margin-bottom: 8px;
    }

    .login {
        display: flex;
        align-items: center;
        font-style: italic;

        img {
            width: 20px;
            height: 20px;
            margin-right: 4px;
        }
    }
}